#envato-purchase-code{
  display: none!important;
}
#auto-updates {
  display: none!important;
}
.sb-updates-box .sb-scroll-area .sb-bottom a{
  display: none!important;
}
#tab-apps{
     display: none!important;
}